extends layout.jade

block vars
    - controller = "AmenitiesController"

block content
    .container.margin-top-default
        h1 Varusteet
        .row
            .col-md-8: .list-group.row.amenities
                .progress(ng-if="!amenities"): .progress-bar.progress-bar-striped.active(style="width: 100%")
                .list-group-item.col-md-12.clearfix.amenity(ng-repeat="amenity in amenities track by amenity.id")
                    .row
                        .col-md-5
                            span(inline-edit="amenity.name" inline-edit-placeholder="Nimi" inline-edit-on-blur="cancel" inline-edit-btn-edit="Muokkaa" inline-edit-callback="updateAmenity(amenity.id, 'name', newValue)")
                        .col-md-5
                            span(inline-edit="amenity.icon" inline-edit-placeholder="Kuvake" inline-edit-on-blur="cancel" inline-edit-btn-edit="Muokkaa" inline-edit-callback="updateAmenity(amenity.id, 'icon', newValue)")
                        .col-md-2: .text-right
                            span.text-muted(ng-if="amenity.used") Käytössä
                            a.glyphicon.glyphicon-remove.remove-amenity(ng-class="{'active': !amenity.used}" ng-click="amenity.used || deleteAmenity($index)")
            .col-md-4: form.form(name="newAmenityForm" novalidate)
                .panel.panel-default
                    .panel-heading Lisää uusi varuste
                    .panel-body
                        .form-group
                            label Nimi
                            input.form-control(type="text" ng-model="newAmenity.name" required)
                        .form-group
                            label Glyphicon-kuvakkeen CSS-luokka
                            input.form-control(type="text" ng-model="newAmenity.icon" placeholder="Vapaaehtoinen")
                        .form-group: button.btn.btn-default.btn-primary(ng-click="createAmenity()" ng-disabled="!newAmenityForm.$valid") Lisää
        p.text-muted Varusteita, joita on merkitty aktiivisiin mökkeihin ei voi poistaa.
        