doctype html

mixin nav-item(url, title)
    li(data-match-route=url): a(href=url)= title

- var controller = ""

block vars

html(ng-app="lodgist" ng-controller="RootController")
    head
        title Lodgist
        link(rel="stylesheet" href="/css/ext.css")
        link(rel="stylesheet" href="/css/client.css")
        script(src="/js/ext.js")
        script(src="/js/client.js")
    body(ng-controller=controller)
        nav.navbar.navbar-default.navbar-static-top(bs-navbar bs-collapse): .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button" data-toggle="collapse" bs-collapse-toggle)
                    span.glyphicon.glyphicon-menu-hamburger
                a.navbar-brand#logo(href="/") Lodgist
            .collapse.navbar-collapse(bs-collapse-target)
                ul.nav.navbar-nav
                    +nav-item("/", "Home")
                    +nav-item("/lodgings", "Lodgings (TEST)")
                    +nav-item("/lodgings/1", "Sample lodging (TEST)")
                    +nav-item("/lodgings/new", "Post a new lodging (TEST)")
                    +nav-item("/my_reservations", "Varaukseni")
                    +nav-item("/my_lodgings", "Kohteeni")
                ul.nav.navbar-nav.navbar-right
                    if !user
                        +nav-item("/login", "Log in")
                    else
                        li: a Logged in as #{user.name}
                        li: a(ng-click="global.controls.logout.onClick()") Log out
        block content
    