extends layout.jade

include mixins/reservation_listing

block vars
    - controller = "MyReservationsController"

block content
    .container.margin-top-default.reservations
        .col-md-12
            h1 Varaukseni
        .col-md-12
            +reservation-listing(reservations)