extends layout.jade

include mixins/address_input

block vars
    - controller = "NewLodgingController"

block content
    .container.margin-top-default
        form
            h3 Perustiedot
            .row: .col-sm-5: .form-group
                label Nimi
                input.form-control(type="text" required ng-model="lodging.name")
            +address-input("lodging.address")
            .row: .col-sm-8: .form-group
                label Vapaamuotoinen kuvaus
                textarea.form-control(type="text" required ng-model="lodging.description")
            h3 Varaus
            .row
                .col-sm-2: .form-group
                    label Varaukset alkavat
                    input.form-control(type="text" bs-timepicker ng-model="lodging.reservation_start" data-time-format="HH:mm" data-time-type="string")
                .col-sm-2: form-group
                    label Varaukset päättyvät
                    input.form-control(type="text" bs-timepicker ng-model="lodging.reservation_end" data-time-format="HH:mm" data-time-type="string")
            .row
                .col-sm-2: .form-group
                    label Hinta per yö
                    input.form-control(type="number" ng-model="lodging.price_per_night")
            .row
                p.text-muted Lodgistin osuus: {{lodging.price_per_night * 0.1 | currency}}

            h3 Varusteet
            .row
                .col-sm-5
                    button.form-control(ng-model="lodging.amenities" placeholder="Valitse varusteet" max-length="4" max-length-html="valittu" bs-select data-multiple="1" bs-options="amenity.id as amenity.name for amenity in amenities")

            h3 Lisätiedot
            p.text-muted TODO
            
            .row: .col-sm-5
                button.btn.btn-primary.btn-lg(ng-click="controls.sendButton.onClick()") Julkaise

        h3 Debugging
        textarea.form-control {{lodging}}
