extends layout.jade

include mixins/lodging_form

block vars
    - controller = "NewLodgingController"

block content
    .container.margin-top-default.new-lodging
        .col-md-12
            h1 Uusi kohde
        .col-md-12
            +lodging-form()
            .row: .col-sm-5
                button.btn.btn-primary.margin-top-default(ng-click="controls.sendButton.onClick()" ng-disabled="!lodgingForm.$valid") Julkaise
