
extends layout.jade

block vars
    - controller = "NewExternalReservationController"

block content
    .container.margin-top-default
        form
            +month-calendar(#{moment()})
            