
.container
    h1#horrendous-logo
        span MAKSUM
        span _
        span VÄLITTÄJÄ
    .panel.panel-default
        .panel-heading
            span Maksutavat
        .panel-body
            p Yhteensä: #{userReservation.price} €$
            button.btn.btn-primary.btn-success Maksa internetrahalla