mixin calendar()
    .calendar
        .calendar-title
            a(href="").calendar-button.left.glyphicon.glyphicon-chevron-left                        
            span Fiktiokuu 2072
            a(href="").calendar-button.right.glyphicon.glyphicon-chevron-right
        table
            thead
                each day in ["Ma", "Ti", "Ke", "To", "Pe", "La", "Su"]
                    td= day
            tbody.calendar-cells
                - for (var x = 0; x < 31; x++)
                    if ((x % 7) == 0)
                        tr
                    td= x + 1