mixin lodging-listing(lodgingsArray)
    .lodging-item.row(ng-repeat="lodging in #{lodgingsArray} track by lodging.id")
        a.lodging-image.col-md-3(ng-href="/lodgings/{{lodging.id}}")             
        .lodging-content.col-md-7
            a(ng-href="/lodgings/{{lodging.id}}").lodging-title {{lodging.name}}
            p.lodging-info
                span {{lodging.city}} 
                span {{lodging.company_name}}
            p {{lodging.description}}
            .text-fade
        .lodging-pricing.col-md-2
            p.lodging-price {{lodging.price_per_night | currency}} / yรถ