
mixin reservation-selector()
    .row
        .col-sm-3: .form-group
            label Alkaen
            input.form-control(type="text" ng-model="reservation.during.lower" required ng-disabled="controls.datePickers.areDisabled" bs-datepicker data-min-date="today" data-max-date="{{lowerMax}}" data-disabled-dates="bounds.starts")
        .col-sm-3: .form-group
            label P채채ttyy
            input.form-control(type="text" ng-model="reservation.during.upper" required ng-disabled="controls.datePickers.areDisabled" bs-datepicker data-min-date="{{upperMin}}" data-disabled-dates="bounds.ends")
    .row
        .col-sm-8: p Varaus alkaa klo #{lodging.reservation_start} ja p채채ttyy klo #{lodging.reservation_end}.